/*--------------------------------------------------------------------------------NAVBAR-ANIMATED---------------------------------------------------------------------*/
.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.animated-icon1 span {
    background: #ffffff;
}
.animated-icon2 span {
    background: #ffffff;
}
.animated-icon3 span {
    background: #ffffff;
}
.animated-icon1 span:nth-child(1) {
    top: 0px;
}
.animated-icon1 span:nth-child(2) {
    top: 10px;
}
.animated-icon1 span:nth-child(3) {
    top: 20px;
}
.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
/*--------------------------------------------------------------------------------BODY----------------------------------------------------------------------*/
body {
    background-color: #191919;
    font-family: "avenir", arial, sans-serif;
}
/*--------------------------------------------------------------------------------NAVBAR----------------------------------------------------------------------*/
#navbar {
    background-color: #000000;
    position: fixed;
    z-index: 99;
}
#button_mail {
    padding: 0 3px 3px 3px;
    margin-top: 7px;
    border-radius: 15px;
}
.nav-item a {
    color: #ffffff;
    font-size: 17px;
    text-decoration:none;
}
/*--------------------------------------------------------------------------------SECTIONS----------------------------------------------------------------------*/
#slide1 {
    background: #000000 center 0 no-repeat;
    margin-top: 70px;
    width: 100%;
}
#slide2 {
    background: url(../img/macbook-background.jpg) center 0 no-repeat;
    background-size: cover;
    width: 100%;
}
#slide3 {
    background: url(../img/code-js.jpg) center 0 no-repeat;
    background-size: cover;
    width: 100%;
}
/*--------------------------------------------------------------------------------SLIDE1----------------------------------------------------------------------*/
#identity {
    margin: 30px 0 30px 0;
}
#identity #info-indentity {
    font-size: 15px;
    color: #696969;
}
#identity p {
    font-size: 17px;
    color: #ffffff;
}
#slide1 h1 {
    margin-top: 20px;
    font-size: 22px;
    color: #ffffff;
}
#identity h3 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}
#slide1 img {
    width: 230px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 20px;
}
/*--------------------------------------------------------------------------------SLIDE2----------------------------------------------------------------------*/
#slide2 p {
    border-radius: 9px;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 17px;
    color: #000000;
}
.opaFiltre {
    background: rgba(255,255,255,0.4);
}
.opaFiltre2 {
    background: rgba(0,0,0,0.4);
}
/*--------------------------------------------------------------------------------SLIDE3----------------------------------------------------------------------*/
#slide3 p {
    border-radius: 9px;
    margin-top: 100px;
    font-size: 22px;
    color: #ffffff;
}
#slide3 img {
    margin: 0 auto 50px auto;
    width: 80%;
    border-radius: 3px;
}
/*--------------------------------------------------------------------------------SECTION2----------------------------------------------------------------------*/
#scrollHtml h2, #scrollJs h2, #scrollPhp h2 {
    font-size: 34px;
    margin-top: 40px;
}
.imageTitle {
    height: 200px;
}
.htmlTitle {
    color: #E44D26;
}
.jsTitle {
    color: #F7DF1E;
}
.phpTitle {
    color: #777BB3;
}
#scrollHtml p, #scrollJs p, #scrollPhp p{
    font-size: 22px;
    margin-top: 40px;
    color: #ffffff;
} 
#scrollHtml, #scrollJs, #scrollPhp {
    color : #ffffff;
    background: #000000;
    margin-top: 10px;
    width: 100%;
    height: 850px;
}
.desktopImage{
    margin-top: 150px;
    width: 350px;
    height: 202px;
}
/*--------------------------------------------------------------------------------SECTION3----------------------------------------------------------------------*/
#section_3 {
    background: #ffffff;
    height: 600px;
    margin-top: 10px;
}
#section_3 img {
    width: 300px;
    margin-top: 50px;
    height: 105px;
}
#section_3 p {
    font-size: 22px;
    margin-top: 50px;
}
#section_3  h2 {
    font-size: 34px;
    margin-top: 40px;
}
/*--------------------------------------------------------------------------------SECTION4----------------------------------------------------------------------*/
#section_4 {
    margin-top: 10px;
    background: url(../img/teamWork.jpg);
    background-size: cover;
}
#workDescription {
    background: rgba(255,255,255,0.70);
}
#section_4 p {
    color: #000000;
    font-size: 22px;
    margin: 20px 5px 20px 5px;
}
#section_4 img {
    width: 100%;
}
/*--------------------------------------------------------------------------------SECTION5----------------------------------------------------------------------*/
#section_5 {
    margin-top: 10px;
    padding-bottom: 15px;
    background-color: #ffffff;
}
#section_5 img {
    width: 100%;
    margin: 0 auto;
}
#section_5 h1 {
    margin-top: 40px;
    font-size: 34px;
    margin-bottom: 20px;
}
#section_5 p {
    margin-top: 20px;
    font-size: 20px;
    color: dimgrey;
}
@media screen and (min-width: 1370px) {
    #identity p:first-of-type {
        margin: 130px 0 50px 0;
    }
    #slide1 img {
        margin: 160px 0 500px 0 !important;
    }
    .desktopImage{
        margin-top: 150px !important;
    }
    #scrollHtml p, #scrollJs p, #scrollPhp p{
        margin-top: 150px !important;
    }
    #slide1 {
        background: #000000 center 0 no-repeat fixed;
        margin-top: 70px;
        width: 100%;
    }
    #slide2 {
        background: url(../img/macbook-background.jpg) center 0 no-repeat fixed;
        background-size: cover;
        width: 100%;
    }
    #slide3 {
        background: url(../img/code-js.jpg) center 0 no-repeat fixed;
        background-size: cover;
        width: 100%;
    }
}
@media screen and (min-width: 768px) { 
    #slide1 h1 {
        margin-top: 40px;
        font-size: 43px;
    }
    #slide1 p {
        font-size: 22px;
    }
    #identity {
        margin: 30px 0 50px 0;
    }
    #identity p {
        padding: 0 10px 0 10px  !important;
    }
    #slide1 img {
        margin-top: 40px;
    }
    #slide2 p {
        margin-top: 100px;
        font-size: 22px;
    }
    #slide3 p {
        margin-top: 120px;
        font-size: 22px;
        margin-bottom: 100px;
    }
    #slide3 img {
        width: 70%;
    }
    .desktopImage{
        width: 600px;
        height: 347px;
        margin-top: 50px;
    }
    #scrollHtml p, #scrollJs p, #scrollPhp p{
        font-size: 22px;
        margin-top: 50px;
        color: #ffffff;
    }
    #identity p {
        padding-left: 40px;
    }
    #section_3 img {
        width: 600px;
        margin-top: 50px;
        height: 180px;
    }
    #section_3 p {
        margin-top: 80px;
        padding: 0 80px 0 80px;
    }

}
/*--------------------------------------------------------------------------------FOOTER----------------------------------------------------------------------*/
#footer {
    margin-top: 10px;
    background-color: dimgrey;
}
#footer p {
    margin-top: 20px;
    color: #ffffff;
    font-size: 15px;
}
/*--------------------------------------------------------------------------------animated----------------------------------------------------------------------*/
/*reveal effet*/
.reveal {
    opacity: 0;
    transform: translateY(-100px);
}
.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 3s;
}
/*cursor*/
#autotext {
    border-right: 0.15em solid #007BFF;
    letter-spacing: 0.05em;
    animation: blink 0.75s step-end infinite;
}

/* blink (clignotement) */
@keyframes blink {
    /* from to, tu va DE (from) À (to), ne pas donner de valeur a from done l'effet de clignotement.*/
    from,
    to {
        border-color: transparent;
    }
    /* a 50% de l'animation, change la couleur de la bordure.*/
    50% {
        border-color: #007BFF;
    }
}
